#clasificacion, #anuncios2 {
	height: 920px;
	
}

#clasificacion {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
}

#titulo {
	margin: 25px 10px 0 10px;
	background-color: #BCBCBC;
	opacity: .8;
	width: 598px;
	height: 30px;
	padding-top: 4px;
	text-align: center;
	font-family: "Georgia", fantasy;
	border-top: 2px solid #669E00;
	font-size: 17px;
	color: #555;
	text-shadow: 0 1px 0 #999,
					 0 -1px 0 #000;
}


#tabladiv {
	height: 780px;
	width: 616px;
}

#tabla {
	margin: 20px 0 0 10px;
	
}

thead, tr {
	border: 1px solid grey;
}


th {
	width: 23px;
	border: 1px solid grey;
}

th,td {
	padding: 4px 3px 4px 4px;
	height: 25px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}


th:nth-child(1) {
	width: 155px;

}

th p:nth-child(1) {
	float: left;
	padding: 4px 1px 0 1px;
	vertical-align: middle;
}



tbody th a {
	vertical-align: sub;
	text-decoration: none;
	color: black;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
}

tbody th img {
	float: right;
}

tbody th a:hover {
	text-decoration: underline;
}

tbody tr:nth-child(-n + 7 ) th:nth-child(1) {
	background-color: #669E00;
}

tbody tr:nth-child(-n+4) th:nth-child(1) {
	background-color: #0C8197;
}

tbody tr:nth-last-child(-n+3) th:nth-child(1) {
	background-color: #AA0C00;
}

thead tr:nth-last-child(-n + 1) {
	background-color: #CFCFCF;
}


tbody tr th:nth-last-child(-n + 1) {
	background-color: #CFCFCF;
}

#leyenda {
	height: 15px;
	margin-top: 5px;
}

.leyenda1 {
	background-color: #0C8197;
}

.leyenda2 {
	background-color: #669E00;
}

.leyenda3 {
	background-color: #AA0C00;
}

#cajacolor{
	width: 15px;
	height: 15px;
}



